<html>
  <body>
    <div
      class="row"
      style="margin-left: 0px !important; margin-right: 10px !important"
    >
      <table style="width: 100%; margin: 10px">
        <tbody>
          <tr>
            <td colspan="2">
              <div class="row">
                <div class="processrowheader">
                  <div class="box-label"></div>
                  <div class="box">Leads</div>
                  <div class="box">Appointments</div>
                  <div class="box">Test Drive</div>
                  <div class="box">Offer to <br />Purchase</div>
                  <div class="box">Close Rate</div>
                </div>
              </div>
              <div class="row">
                <div class="processgoalrow">
                  <div class="box-label"></div>
                  <div class="box"></div>
                  <div class="box">Top 25%:</div>
                  <div class="box">Top 25%:</div>
                  <div class="box">Top 25%:</div>
                  <div class="box">Top 25%:</div>
                </div>
              </div>
              <div class="row">
                <div class="processrow">
                  <div class="box-label">Internet</div>
                  <div class="box box-gray box1">2,117</div>
                  <svg class="box1" style="width: 25px">
                    <path d="M0,0 L25,5 L25,95 L0,100z" class="box-gray" />
                  </svg>
                  <div class="box box-green box2">22.3%</div>
                  <svg class="box1" style="width: 25px">
                    <path d="M0,5 L25,10 L25,90 L0,95z" class="box-green" />
                  </svg>
                  <div class="box box-green box3">21.7%</div>
                  <svg class="box1" style="width: 25px">
                    <path d="M0,10 L25,15 L25,85 L0,90z" class="box-yellow" />
                  </svg>
                  <div class="box box-yellow box4">219</div>
                  <svg class="box1" style="width: 25px">
                    <path
                      d="M0,15 L25,20 L25,80 L0,85z"
                      class="box-yellow-secondary"
                    />
                  </svg>
                  <div class="box box-red box5">3.2%</div>
                </div>
              </div>
              <!-- 3rd Party -->
              <sd-horizontal-funnel></sd-horizontal-funnel>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
